cachetools==4.2.1
Flask==2.0.0
gunicorn==20.1.0
html5lib==1.1
httplib2==0.18.1
Jinja2==3.0.0
joblib==1.0.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
Markdown==3.3.4
MarkupSafe==2.0.0
numpy==1.19.5
pandas==1.2.3
Pillow==7.2.0
requests==2.23.0
scikit-learn==0.24.2
scipy==1.6.2
sqlparse==0.4.1
tensorflow==2.0.0b1
virtualenv==20.0.29+ds
Werkzeug==2.0.0
